@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html, body, :root {
  height: max-content;
  min-height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

:where(.css-dev-only-do-not-override-1qad230).ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline, :where(.css-dev-only-do-not-override-1qad230).ant-menu-light>.ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  background: none !important;
}

:where(.css-dev-only-do-not-override-1depqur).ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline, :where(.css-dev-only-do-not-override-1depqur).ant-menu-light>.ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  background: transparent !important;
}